body{
    background-color: #eff0f5; 
}
h3{
    padding: 4em 0 0 17.2em;
    color: #504242;
}

h6{
    color:#222222;
}

.login{
    margin: auto;
    padding: 30px 60px 60px 30px;
    width: 50%;
    display:flex;
    background-color: #ffffff;
    height: 250px;
}

.login-left{
    width: 50%;
    float: left;
}

ion-input{
    color: gray;
}

a{
    text-decoration: none;
    color:#13a9cf;
    font-size: 12px;
    float:right;
}

.login-right{
    float: right;
    padding-left: 3em;
    width: 50%;
}

p{
    color: gray;
    font-size: 12px;

}

ion-button{
    width: 300px;
    --color: #ffffff;
    --box-shadow: none;
}

.login-btn {
    height: 50px;
    --background: #f57224;
    --border-radius: 0;
    
  }

.fb-btn{
    --background: #3b5998;
    height: 40px;
    text-transform: none;
    font-size: 18px;
    letter-spacing: normal;
}

.g-btn{
    --background: #d34836;
    height: 40px;
    text-transform: none;
    font-size: 18px;
    letter-spacing: normal;

}

ion-icon{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

